.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: "Arvo", serif;

    img {
        width: 100%;
    }

    .four_zero_four_bg {
        background-image: url("../../assets//404.gif");
        height: 400px;
        background-position: center;

        h1 {
            font-size: 80px;
        }

        h3 {
            font-size: 80px;
        }
    }

    .contant_box_404 {
        margin-top: -50px;
    }

    .link_404 {
        color: #fff !important;
        padding: 10px 20px;
        background: #39ac31;
        margin: 20px 0;
        display: inline-block;
    }
}
